/*
    FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

/*
    VARIABLES
*/

:root {
    --clr-accent: #CBAD84;
    --clr-background-dark: #3c3c3b;
    --clr-background-light: #ffffff;
    --clr-background-header: rgba(255, 255, 255, 0.5);
    --clr-text-dark: #000000;
    --clr-text-light: #ffffff;
    --clr-project-overlay: rgba(0, 0, 0, 0.5);
    --img-background: url('../images/bedge-grunge.png');
    --ff-roboto: 'Roboto Condensed', sans-serif;
    --ff-barlow-bold: 'Barlow', sans-serif;
    --ff-barlow-con: 'Barlow Condensed', sans-serif;
    --fs-standard: 1.125rem;
    --spacer-header: 4em;
    --spacer-small: 1em;
    --spacer-medium: 2em;
    --spacer-large: 3em;
    --display-small: 450px;
    --display-medium: 850px;
}

/*
    GLOBAL
*/

*, *::before, *::after {
    box-sizing: border-box;     // https://www.youtube.com/watch?v=WlGQdgy-M6w
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--ff-roboto);
    font-size: var(--fs-standard);
}

body {
    min-height: 100vh;
    width: 100%;
}

section {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
}

img, svg, picture, object {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.spacer {
    width: 100%;
    height: var(--spacer-header);
}

.spacer-small {
    width: 100%;
    height: var(--spacer-small);
}

.spacer-medium {
    width: 100%;
    height: var(--spacer-medium);
}

.spacer-large {
    width: 100%;
    height: var(--spacer-large);
}

.eighty {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.one-two {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0;
}

.one-one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}

.hidden {
    display: none;
}

/*
    HEADER
*/
.header-nav {
    background-color: var(--clr-background-header);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 3em;

    .mobile{
        display: none;
    }

    a {
        color: var(--clr-text-dark);
        text-decoration: none;
        font-size: .8em;
    }

    .toggler{
        display: none;
    }

    .toggler-label{
        display: none;
    }

    .svg {
        display: inline-block;
        padding: .5em;

        svg {
            height: 2.5em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
    }

    nav {
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        ul {
            list-style-type: none;
            display: flex;

            li a {
                padding: 1em;
                text-transform: uppercase;
                display: inline-block;
          
                &:hover, &:focus {
                  color: var(--clr-accent);
                }
            }
        }
    }
}

/*
    LANDING
*/
#landing {
    background-color: var(--clr-background-light);
    background-image: var(--img-background);

    #landing-logo {
        position: relative;
        width: 30%;
        height: 100%;
        margin: auto;
        display: grid;
        align-items: center;
        justify-items: center;

        picture {
            position: absolute;
        }

        #logo {
            width: 100%;

            img {
                transform: translateX(-4em) translateY(-2em) scale(1.3);
            }
        }
    }
}

/*
    PROJECTS
*/
#projects {
    height: auto;
    background-color: var(--clr-background-light);
    background-image: var(--img-background);

    .gallery-selector {
        padding-bottom: 2em;
       
        #selector-mobile{
            display: none;
        }

        /*
        #selector-mobile-label{
            display: none;
        }
        */

        #selector {
            list-style-type: none;
            display: flex;
            
            justify-content: center;

            li {
                border-right: 3px solid black;
                padding-inline-start: .5em;
                padding-inline-end: .5em;

                button {
                    border: none;
                    background: none;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-family: var(--ff-barlow-con);
                    font-size: 1.45vw;
                
                    &:hover, &:focus {
                        transform: scale(1.1);
                        color: var(--clr-accent);
                    }
                }

                button.selected {
                    color: var(--clr-accent);
                }
            }

            li:last-child {
                border: none;
            }
        }
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .5em;

        .gallery-item {
            figure {
                height: 100%;
                //min-height: 20vw;
                background: var(--clr-background-dark);
                width: 100%;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    object-fit: contain;
                    transform: scale(1.12);
                    transition: all .5s;
                }

                /*
                figcaption {
                    background: var(--clr-project-overlay);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                    transition: opacity 1s;

                    .gallery-item-caption {
                        display: grid;
                        justify-items: center;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        color: var(--clr-text-light);
                    }
                }
                */

                /* static caption
                figcaption {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 1em;
                    color: var(--clr-text-light);
                    background: var(--clr-background-dark);
                    padding: .5em;
                }
                */
                figcaption {
                    display: none;
                }

                /* moved to media hover
                &:hover, &:focus {

                    figcaption {
                        opacity: 1;
                    }

                    img {
                        opacity: .1;
                        transform: translate3d(0, 0, 0) scale(1.03);
                    }
                }
                */
            }
        }
    }
}

/*
    ABOUTME
*/
#aboutme {
    background: var(--clr-background-dark);

    #grid-rows {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 2em;
        height: calc(100% - var(--spacer-header));

        #top-row{
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 0;

            #left{
                width: 100%;
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                position: relative;

                #portrait{
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 5%;
                    width: 80%;

                    img{
                        max-height: calc((100vh - 4em) / 2);
                    }
                }

                h1{
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: var(--clr-text-light);
                    font-family: var(--ff-barlow-bold);
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 7.5vw;
                    transform: translateX(3.5ch) translateY(-1ch);
                }
            }

            #right{
                width: 100%;
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                position: relative;
                color: var(--clr-text-light);

                #text{
                    height: 100%;
                    bottom: 0;
                    left: 0;
                    font-family: var(--ff-roboto);
                    font-size: 1.6vw;
                    position: relative;

                    #paragraphs{
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        #pMargin {
                            margin-bottom: 1em;
                        }
    
                        a{
                            text-decoration: underline;
                            color: var(--clr-text-light);
                        }
                    }
                }
            }
        }

        #bottom-row{
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0;

            .skill-headline{
                color: var(--clr-text-light);
                position: absolute;
                font-size: 1.2vw;
            }

            .centered-container{
                width: 100%;
            }

            #left{
                width: 100%;
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                position: relative;
                
                #skills{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1em;
                    grid-column-gap: 50px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                    .skill{
                        display: flex;
                        position: relative;
                        color: var(--clr-text-light);
                        text-transform: uppercase;

                        .description{
                            margin-right: 15px;
                            align-self: center;

                            img{
                                max-width: 100px;
                                min-width: 25px;
                                width: 2.7vw;
                            }

                            span{
                                font-size: 0.95vw;
                            }
                        }

                        .progress{
                            width: 10.7vw;
                            height: 1.4vw;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            border: 2px solid var(--clr-text-light);

                            .value{
                                background: var(--clr-text-light);

                                position: absolute;
                                top: -2px;
                                height: 1.37vw;
                            }
                        }
                    }
                }
            }

            #hc{
                position: relative;
            }

            #right{
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);

                #disciplines{
                    height: 100%;
                    display: grid;
                    grid-template-columns: 7vw 7vw 7vw;
                    grid-gap: 1em;
                    align-content: center;

                    .discipline {
                        background: #535352;
                        height: calc((((200px + 3em) / 2) - 0.5em) * .8);
                        width: calc((((200px + 3em) / 2) - 0.5em));
                        max-width: 100%;
                        font-size: 1vw;
                        display: grid;
                        align-content: center;
                        justify-content: center;
                        
                        span {
                            text-transform: uppercase;
                            color: var(--clr-accent);
        
                            /* moved to media hover
                            &:hover, &:focus {
                                border-top: 2px solid var(--clr-accent);
                            }
                            */
                        }
        
                        .accent {
                            border-top: 2px solid var(--clr-accent);
                        }
                    }
                }
            }
        }
    }
}

/*
    CONTACT
*/
#contact {
    background: var(--clr-accent);
    height: auto;
    min-height: calc(100vh - 1em);

    .container {
        display: grid;

        #form-logo {
            display: flex;

            #spacer {
                width: 60%;
            }
    
            picture {
                max-width: 35%;
                width: 35%;
            }
        }
        
        .form {
            justify-self: center;
            width: 50%;
            position: relative;
            top: -3em;

            form {
                display: grid;
                font-family: var(--ff-roboto);

                input {
                    height: 3em;
                    padding: .2em;
                    border-radius: .5em;
                    border: none;
                }

                label {
                    color: var(--clr-text-light);
                    text-transform: uppercase;
                    font-size: .8em
                    ;
                }
                
                textarea {
                    height: 14em;
                    resize: none;
                    border-radius: .5em;
                    padding: .5em;
                    border: none;
                }

                #btn {
                    background: var(--clr-background-light);
                    color: var(--clr-accent);
                    text-transform: uppercase;
                    width: 10em;
                    height: 3em;
                    border-radius: .5em;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

/*
    FOOTER
*/
footer {
    background: var(--clr-background-dark);
    display: flex;
    justify-content: center;
    column-gap: .3em;
    color: var(--clr-text-light);
    font-size: .6em;
    height: 2em;
    align-items: center;

    a{
        text-decoration: none;
        color: var(--clr-text-light);
        font-size: 1em;
    }

    span{
        margin-left: 5px;
        margin-right: 5px;
    }
}

/*
    MOBILE DEVICES
*/
@media (max-width:1000px) { //max 450px
    .header-nav{
        height: auto;
        width: auto;
        background: none;

        .logo {
            display: none;
        }

        .mobile{
            display: block;
        }

        .toggler-label{
            display: inline-block;
            margin: 1em;

            span,
            span::before,
            span::after{
                display: block;
                width: 2em;
                height: .2em;
                border-radius: 2px;
                background: var(--clr-accent);
                position: relative;
                transition: all 400ms ease;
            }

            span::before,
            span::after{
                content: '';
                position: absolute;
            }

            span::before{
                bottom: 7px;
            }

            span::after{
                top: 7px;
            }
        }

        .toggler-label::before{
            content: '';
            position: absolute;
            width: 3em;
            height: 2em;
            background: var(--clr-background-header);
            top: .1em;
            left: .5em;
        }

        nav{
            position: static;
            transform: none;
            transform: scale(1, 0);
            transform-origin: top;
            transition: transform 400ms ease-in-out;
            background: var(--clr-background-light);

            ul{
                flex-direction: column;
            }

            a{
                opacity: 0;
                transition: opacity 150ms ease-in-out;
            }
        }

        .toggler:checked ~ nav{
            transform: scale(1, 1);
        }

        .toggler:checked ~ nav a{
            opacity: 1;
            transition: opacity 250ms ease-in-out 250ms;
        }

        .toggler:checked + .toggler-label {
            
            span{
                transform: rotate(135deg);
            }

            span::before,
            span::after{
                top: 0;
                transform: rotate(90deg);
            }
        }
    }

    #landing {
        //height: 75vh;
        //min-height: 75vh;
        height: auto;
        min-height: 1em;

        #landing-logo {
            width: 70%;
            height: 100vw;

            #logo {
    
                img {
                    transform: none;
                }
            }
        }
    }

    #projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 1em;

        .spacer {
            display: none;
        }

        .gallery-selector {
            padding-bottom: 0;
            //margin: 2em;
            margin-bottom: 1em;
            display: flex;
            justify-content: center;
            position: relative;
            width: 25vw;
            
            /*
            #selector-mobile-label{
                display: inline-block;
                margin-right: 1em;
            }
            */
            &::before {
                //content: '\1401';
                //content: '\142f';
                //content: '\2193';
                //content: '\21a1';
                //content: '\21c2';
                //content: '\21d3';
                //content: '\21e3';
                //content: '\21e9';
                //content: '\21f2';
                //content: '\25bc';
                //content: '\25bd';
                //content: '\2630';
                //content: '\02ec';
                //content: 'v';
                font-size: 3.3vw;
                color: var(--clr-accent);
                
                //content: url("Pfeil-Barlow-con.svg");
                content: '';
                mask: url("Pfeil-Barlow-con.svg");
                width: 3vw;
                height: 1.7vw;
                background-color: var(--clr-accent);
                mask-size: cover;
                
                position: absolute;
                align-self: center;
                align-self: center;
                right: .5em;
                pointer-events: none;
            }
            
            #selector-mobile{
                display: inline-block;
                font-size: 3.3vw;
                font-family: var(--ff-barlow-con);
                color: var(--clr-accent);
                padding: .2em .5em;
                //border: 2px solid var(--clr-accent);
                //border-radius: 5px;
                background: var(--clr-background-light);
                text-align: center;
                text-transform: uppercase;
                outline: none;
                border: none;
                appearance: none;
                cursor: pointer;
                width: 100%;

                option {
                    color: var(--clr-accent);
                    text-align: center;
                }
            }

            // IE hack für appearance: none
            #selector-mobile::-ms-expand {
                display: none;
              }
    
            #selector {
                display: none;
            }
            
            /*
            // BURGER MENU!!!
            #selector{
                flex-flow: row wrap;

                li{
                    button{
                        font-size: 3.3vw;
                    }
                }
            }
            */
        }

        .gallery {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: .2em;
            margin-bottom: -1em;

            .gallery-item {
                figure {
                    min-height: 30vw;
                }
            }
        }
    }

    #aboutme {
        height: auto;

        #grid-rows {
            display: block;
            height: auto;
            grid-template-rows: none;

            #top-row{
                display: block;
                height: auto;
                width: auto;
                grid-template-columns: none;

                #left{
                    position: static;
                    width: auto;
                    height: auto;

                    #portrait{
                        width: auto;
                        position: static;
                        display: grid;
                        grid-auto-rows: auto;
                        justify-items: center;

                        picture{
                            grid-row: 2;
                            width: 70%;
                        }

                        h1{
                            grid-row: 1;
                            position: static;
                            font-size: 25vw;
                            transform: none;
                        }
                    }
                }

                #right{
                    position: static;
                    height: auto;
                    width: auto;

                    #text{
                        position: static;
                        font-size: 4.5vw;
                        height: auto;
                        margin-top: 1em;

                        #paragraphs{
                            display: grid;
                            gap: 1em;
                            position: static;

                            p{
                                text-align: center;
                            }
                        }
                    }
                }
            }

            #bottom-row{
                display: grid;
                grid-auto-rows: auto;
                gap: 2em;
                grid-template-columns: none;

                .skill-headline{
                    position: static;
                    font-size: 4.5vw;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                #left{
                    //position: static;
                    display: grid;
                    gap: 0;
                    margin-top: 2em;

                    #skills{
                        margin-top: 0;
                        display: grid;
                        grid-template-columns: 100%;
                        gap: 0;
                        position: static;
                        grid-column-gap: 0;
                        transform: none;

                        #GER{
                            grid-row: 1;
                        }

                        #ENG{
                            grid-row: 2;
                        }

                        #FRA{
                            grid-row: 3;
                        }

                        #PLAT{
                            grid-row: 4;
                            margin-bottom: 1em;
                        }

                        #AI{
                            grid-row: 5;
                        }

                        #ID{
                            grid-row: 6;
                        }

                        #PS{
                            grid-row: 7;
                        }

                        #AE{
                            grid-row: 8;
                        }

                        .skill{
                            .description{
                                width: 3em;
                                //height: 3em;
                                height: 2.5em;

                                img{
                                    //width: 40%;
                                    //max-width: none;
                                    min-width: 2em;
                                    position: absolute;
                                    width: 2em;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }

                                span{
                                    font-size: 3.5vw;
                                    transform: translateY(-50%);
                                    top: 50%;
                                    position: absolute;
                                }
                            }

                            #leftprog{
                                left: 0;
                            }

                            .progress{
                                //width: 56vw;
                                width: 54vw;
                                height: 5vw;

                                .value{
                                    height: 5vw;
                                }
                            }
                        }
                    }
                }

                #hc{
                    margin-top: 2em;
                }

                #right{
                    position: static;
                    height: auto;
                    display: grid;
                    gap: 1em;
                    margin-bottom: 2em;
                    transform: none;

                    #disciplines{
                        display: grid;
                        grid-template-columns: 45% 45%;
                        grid-gap: 1em;
                        justify-content: center;
                        height: auto;

                        .discipline{
                            font-size: 5vw;
                            display: grid;
                            align-content: center;
                            justify-content: center;
                            height: 20vw;
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    #contact{
        min-height: 100vh;
        
        .container{
            .form{
                width: 80%;
                position: static;
                z-index: 2;
            }

            #form-logo{
                grid-row: 2;

                #spacer{
                    width: 20%;
                }

                picture{
                    width: 70vw;
                    max-width: none;
                    //margin-bottom: 2em;
                    transform: translateY(-2em);
                }
            }
        }
    }

    footer{
        display: none;
    }
}

@media (min-width: 600px) and (max-width:1000px) {
    #projects {
        .gallery {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    #aboutme {
        #grid-rows {
            #bottom-row {
                #left {
                    #skills {
                        gap: 1em;

                        .skill {
                            .description {
                                img {
                                    width: 3em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 
    For devices with hover ability
*/
@media (hover: hover) {
    #projects {
        .gallery {
            .gallery-item {
                figure {
                    figcaption {
                        display: block;
                        background: var(--clr-project-overlay);
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                        opacity: 0;
                        transition: opacity 1s;
                        margin: 0;
                        padding: 0;
    
                        .gallery-item-caption {
                            display: grid;
                            justify-items: center;
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                            color: var(--clr-text-light);
                        }
                    }
                }

                &:hover, &:focus {
                    figcaption {
                        opacity: 1;
                    }

                    img {
                        opacity: .1;
                        transform: translate3d(0, 0, 0) scale(1);
                    }
                }
            }
        }
    }

    #aboutme {
        #disciplines {
            .discipline {
                span {
                    &:hover, &:focus {
                        border-top: 2px solid var(--clr-accent);
                    }
                }
            }
        }
    }
}